#author{
    background-color: #341931;
    color: rgb(250,250,250);
    padding: 30px 20px;
}
#author h1{
    font-size: 30px;
    margin:7px;
    margin-bottom: 0;
}
#perfil img{
    height: 80px;
    width: 80px;
    border-radius: 100%;
    margin:20px;
}
#perfil{
    display: flex;
    align-items: center;
}
#infos b{
    font-size:18px;
}
#author>p{
    margin:0 auto 10px;
    width: 90%;
    text-align: justify;
}
#redes{
    margin:30px auto;
    display: flex;
    width: 300px;
    justify-content: space-between;
}
#redes img{
    cursor:pointer;
    width: 32px;
    transition: 1s;
}
#redes img:hover{
    transform: scale(1.25);
    transition: 1s;
}